.drawer-container {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 280px;
  background-color: #5D6BA7;
  color: #fff;
  height: 100%;

  .avatar {
    width: 160px;
    height: 160px;
  }

  .social-btn-group {
    width: 100%;
    display: flex;
    .social-btn {
      width: 32px;
      height: 32px;
      background-color: #fff;
      border-radius: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      svg {
        color: #5D6BA7;
      }
    }
  }
}